.toolbar-container {
  position: relative;
  width: 100%;
}

.toolbar-count-subscribers {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 70px;
  font-size: 1.5rem;
  color: white;
  background-color: rgb(83, 83, 83);
  border-radius: 20px;
  top: 10px;
  left: 70%;
  
  img{
    width: 30%;
  }
}

.toolbar-host-info {
  position: absolute;
  top: 20px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
}

.toolbar-host-info > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.toolbar-host-info > span {
  color: white;
  font-size: 1.2rem;
}

.toolbar-option-btn {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: none;
  z-index: 2;
  color: white;
}

.toolbar-option-icon {
  margin: 10px;
  color: white;
  font-size: 1.7rem !important;
}

.toolbar-option-btn > span {
  align-self: flex-start;
}
