.switch-camera-modal {
  border: none;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  width: 70%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.switch-camera-modal::backdrop {
  background: none;
}

.switch-camera-modal-header {
  font-size: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(106, 227, 227, 0.2);
  align-items: center;
}

.switch-camera-modal-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.switch-camera-modal-body > div {
  flex: 1;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}

.switch-camera-modal-body > div:nth-child(1) {
  background-color: #f5f5f5;
  color: #333;
}

.switch-camera-modal-body > div:nth-child(1):active {
  background-color: #cccccc;
}

.switch-camera-modal-body > div:nth-child(2) {
  background-color: #ff6b6b;
  color: #fff;
}

.switch-camera-modal-body > div:nth-child(2):active {
  background-color: #ffa1a1;
}
