.roomList-header {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 8vh;
  padding: 0 20px;

  img {
    height: 20%;
  }

  span {
    font-weight: 600;
    font-size: 150%;
    margin-bottom: 5px;
  }
}
