.full-size {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;

  li {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
  }
}

.mini-size {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 10px;
  justify-content: center;
  gap: 10px;

  li {
    border-radius: 5px;
  }

  a {
    width: 48%;
  }

  .post-info {
    display: none;
  }

  .hashtag-list {
    display: flex;
    flex-wrap: wrap;
  }
}
