.post-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}

.post-area {
  textarea {
    width: 100%;
    min-height: 30vh;
    padding: 20px;
    font-size: 20px;
    background-color: var(--color-main-10);
    border: none;
  }
}

.post-area {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

.post-item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px 20px 30px;
}

.post-item:nth-child(-n + 3) {
  border-bottom: 2px solid var(--color-main-20);
}

.post-sub {
  font-weight: bold;
  margin-bottom: 15px;
}

.post-image-upload {
  position: relative;
  height: 30vh;
  background-color: var(--color-main-10);
  margin-bottom: 40px;
}

.img_preview {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.upload-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  color: white;
  border-radius: 50%;
  background-color: var(--color-main-100);

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.reupload-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  margin-top: 10px;
}

.hashtag-add {
  position: relative;

  .hashtag-icon {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    width: 10%;
    color: white;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--color-main-100);

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .hashtag-search {
    border: none;
    width: 100%;
    padding: 15px 15px 15px 60px;
    font-size: 20px;
    background-color: var(--color-main-10);
    align-self: center;
    border-radius: 30px;

    &:focus {
      border: none;
    }
  }
}

.hashtag-add-area {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
  li {
    color: #a19af6;
    padding: 3px 5px;
    &::before {
      content: "#";
    }
  }
}

.post-add-btn {
  position: fixed;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 50px;
}
