.choose-list {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.choose-item {
  position: relative;
  z-index: 0;
  width: 70vw;
  height: 30vh;
  font-family: "Newsreader";
  color: white;
  text-align: center;
  font-size: 80px;
  padding: 70px 0;
}
