#__react-kakao-maps-sdk___Map > div:nth-child(1) > div > div:nth-child(6) {
  filter: drop-shadow(0 0 1px #000);
}

.info {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  // animation: slideUp 0.1s ease-in-out;
  // height: 200px;
  // border-radius: 20px 20px 0 0;
  border-radius: 1em 1em 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3em;
  padding: 1em 1.3em;

  .info_header {
    display: flex;
    align-items: end;
    gap: 0.5em;

    .info_name {
      color: #3496ff;
      font-size: 1.3em;
      font-weight: bold;
    }

    .info_type {
      color: gray;
      font-size: 0.9em;
    }
  }

  .info_body {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .info_distance {
      font-size: 0.9rem;
      font-weight: bold;
    }

    .info_addr {
      font-size: 0.9rem;
    }
  }

  .info_footer {
    hr {
      margin: 0.5em 0;
    }

    .info_icons {
      display: flex;
      gap: 1em;

      svg {
        height: 1.3rem;
        width: 1.3rem;
        // height: 1em;
        // width: 1em;
        color: gray;
      }
    }
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
