.item {
  display: flex;
  flex-direction: column;
  gap: 0.3vh;

  .item-head {
    display: flex;
    align-items: end;
    gap: 1vh;

    .fishing-name {
      color: #3496ff;
      font-size: 2.5vh;
      font-weight: bold;
    }

    .fishing-type {
      color: gray;
      font-size: 1.7vh;
    }
  }

  .item-body {
    display: flex;
    gap: 1vh;

    .fishing-dist,
    .fishing-addr {
      font-size: 1.7vh;
    }

    .fishing-dist {
      font-weight: bold;
    }
  }

  .fishing-exp {
    font-size: 1.7vh;
  }
}
