.FishMapHeader {
  width: 100%;
  border-radius: 0 0 1em 1em;
  // background: lightgreen;
  box-shadow: -2px -7px 10px #f1f1f1, 4px 6px 10px #d4d7da;
  display: flex;
  flex-direction: column;
  height: 3.7rem;

  &.expand {
    height: 6.3em;
  }

  .wrapper {
    border: 1px solid gray;
    display: flex;
    align-items: center;
    border-radius: 0.7em;
    margin: 0.6em;

    .chmode {
      display: flex;
      align-items: center;
      justify-content: center;
      outline: 0;
      border: none;
      cursor: pointer;
      will-change: box-shadow, transform;
      background: radial-gradient(
        100% 100% at 100% 0%,
        #70dbf0 0%,
        #abc1f7 100%
      );
      padding: 0 1em;
      border-radius: 0.7rem 0 0 0.7rem;
      color: #fff;
      height: 2.3rem;
      width: 2.8rem;
      text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
      transition: box-shadow 0.15s ease, transform 0.15s ease;

      &:active {
        box-shadow: inset 0px 0.1em 0.6em #3c4ae0;
        transform: translateY(0em);
      }
    }

    form {
      flex: 1;
      height: 100%;
    }

    input {
      border: none;
      height: 100%;
      width: 100%;
      padding: 0 0.7em;
      font-size: 1em;
      outline: none;
    }

    .search {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.8rem;
    }
  }

  .hashTags {
    margin: 0 0.6em;
    gap: 0.5em;
    display: flex;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    .input-container {
      flex-shrink: 0;

      .radio-button {
        display: none;
        cursor: pointer;

        &:checked {
          + .radio-tile {
            background-color: lightblue;
          }

          + .radio-tile .radio-tile-label {
            color: white;
          }
        }
      }

      .radio-tile {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid lightblue;
        border-radius: 1em;
        padding: 0.5em;

        .radio-tile-label {
          font-size: 0.7em;
          font-weight: bold;
          color: lightblue;
        }
      }
    }
  }
}
