.FishMapFooter {
  height: 6vh;
  margin: 0 3vh;
  transition: height 0.5s;
  position: relative;

  &.expand {
    height: 100%;
    margin-top: 3vh;
  }

  .filter {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    font-size: 2vh;
    // color: gray;
    font-weight: bold;

    svg {
      color: gray;
    }
  }

  .noneData {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    gap: 1vh;

    svg {
      height: 15vh;
      width: 15vh;
      color: darkgray;
    }
  }

  .item {
    padding: 3vh 0;
    border-bottom: 1px solid black;
  }

  .mode {
    position: absolute;
    bottom: 0;
    height: 6vh;
    display: flex;
    align-items: center;
    gap: 5px;
    // color: gray;

    svg {
      height: 2vh;
      width: 2vh;
    }
  }

  .filterOpen {
    position: fixed;
    inset: 0;
    background: rgba($color: black, $alpha: 0.3);
    z-index: 1;
  }

  .content {
    z-index: 2;
    position: absolute;
    width: 35vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    // display: flex;
    // flex-direction: column;
    border-radius: 10px;

    h2 {
      padding: 2.5vh 2.5vh;
    }

    > div {
      border-bottom: 1px solid gray;
      padding: 2.5vh 2.5vh;

      button {
        background: transparent;
        border: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 2vh;

        &.pick {
          color: red;
          font-weight: bold;
          display: flex;
          align-items: center;
        }

        &.cancel {
          display: flex;
          justify-content: end;
        }
      }
    }
  }
}
