// @keyframes slideDown {
//   0% {
//     transform: translateY(-100%);
//     opacity: 0;
//   }
//   100% {
//     transform: translateY(0);
//     opacity: 1;
//   }
// }

.FishMap {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
}
