.FishMapBody {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;

  #__react-kakao-maps-sdk___Map {
    // height: 100%;
    flex-grow: 1;
    z-index: 0;
  }

  .reSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    position: absolute;
    z-index: 2;
    top: 2vh;
    left: 50%;
    transform: translate(-50%);
    padding: 1vh;
    background: white;
    border-radius: 2vh;
    box-shadow: -2px -2px 2px #f1f1f1, 2px 2px 2px #d4d7da;
    font-size: 1.8vh;

    svg {
      font-size: 2vh;
    }
  }

  .FishMap_btn {
    user-select: none;
    position: absolute;
    right: 3vh;
    width: 7vh;
    height: 7vh;
    border-style: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    // background: linear-gradient(
    //   45deg,
    //   rgb(228, 232, 236) 0%,
    //   rgb(234 234 234) 100%
    // );
    // box-shadow: -2px -7px 10px #f1f1f1, 4px 6px 10px #d4d7da;
    box-shadow: 0 0.1vh 1vh rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;

    &:active {
      // background: rgb(218, 221, 224);
      // background: linear-gradient(
      //   45deg,
      //   rgb(218, 221, 224) 0%,
      //   rgb(241, 241, 241) 100%
      // );
      box-shadow: -2px -7px 10px #d4d7da, 4px 6px 10px #f1f1f1,
        inset -2px -7px 10px #f1f1f1, inset 4px 6px 10px #d4d7da;
      transition: all 0.3s;
      transform: scale(0.95);
    }

    svg {
      font-size: 3.5vh;
      color: white;
    }
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
