.FishMapHeader {
  width: 100%;
  border-radius: 0 0 2vh 2vh;
  // border: 1px solid red;
  // box-shadow: -2px -7px 10px #f1f1f1, 4px 6px 10px #d4d7da;
  box-shadow: 0 0.2vh 0.5vh rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  position: sticky;
  z-index: 0;
  top: 0;
  height: 7vh;
  padding: 1.2vh 2vh;
  gap: 1.2vh;
  z-index: 1;

  &.expand {
    height: 12.6vh;
  }

  .wrapper1 {
    // z-index: 1;

    .circle {
      position: relative;
      z-index: 1;
      // box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
      width: 5.5vh;
      height: 4.4vh;
      border-radius: 2vh 0 0 2vh;
      // background: radial-gradient(100% 100% at 100% 0%, #70dbf0 0%, #abc1f7 100%);
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        color: white;
        font-size: 3vh;
      }
    }

    .hidden-trigger {
      display: none;

      &:checked {
        ~ .circle {
          box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1);
        }

        ~ .subs button {
          &:nth-of-type(1) {
            transform: translate(0px, 6vh) scale(1);
            opacity: 1;
            transition: 0.2s;
          }

          &:nth-of-type(2) {
            transform: translate(0px, 13vh) scale(1);
            opacity: 1;
            transition: 0.3s;
          }

          &:nth-of-type(3) {
            transform: translate(0px, 20vh) scale(1);
            opacity: 1;
            transition: 0.4s;
          }
        }
      }
    }

    .subs {
      top: -5vh;
      z-index: 0;
      position: relative;

      .sub-circle {
        z-index: 0;
        position: absolute;
        height: 6vh;
        width: 6vh;
        border-radius: 50%;
        transition: 0.4s;
        // transform-origin: 30% 0%;
        transform: scale(0.1);
        opacity: 0;
        border: none;
        // background: #a3b9f6;
        color: white;
        font-weight: bold;
        border: 2px solid transparent;

        .hidden-sub-trigger {
          display: none;
        }

        label {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.3vh;
          transition: 0.5s;
          height: 100%;
          cursor: pointer;
        }
      }
    }
  }

  .wrapper {
    border: 1px solid gray;
    display: flex;
    align-items: center;
    border-radius: 2vh;
    height: 4.6vh;

    .chmode {
      display: flex;
      align-items: center;
      justify-content: center;
      outline: 0;
      border: none;
      cursor: pointer;
      background: radial-gradient(100% 100% at 100% 0%, #70dbf0 0%, #abc1f7 100%);
      border-radius: 2vh 0 0 2vh;
      color: #fff;
      height: 100%;
      width: 5.5vh;
      text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
      transition: box-shadow 0.15s ease, transform 0.15s ease;

      &:active {
        box-shadow: inset 0px 0.1em 0.6em #3c4ae0;
        transform: translateY(0em);
      }
    }

    select {
      border: none;
      height: 100%;
      flex: 1;
      padding: 0 1vh;
      font-size: 1.7vh;
      outline: none;

      ~ .search {
        width: 1.5vh;
        visibility: hidden;
      }
    }

    form {
      flex: 1;
      height: 100%;

      input,
      select {
        border: none;
        height: 100%;
        width: 100%;
        padding: 0 1vh;
        font-size: 1.7vh;
        outline: none;
      }
    }

    .search {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5.5vh;
    }
  }

  .hashTags {
    gap: 1vh;
    display: flex;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    .input-container {
      flex-shrink: 0;

      .radio-button {
        display: none;
        cursor: pointer;

        &:checked {
          + .radio-tile {
            background-color: #a3b9f6;
          }

          + .radio-tile .radio-tile-label {
            color: white;
          }
        }
      }

      .radio-tile {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2vh;

        .radio-tile-label {
          font-size: 1.3vh;
          font-weight: bold;
          margin: 1vh;
        }
      }
    }
  }
}
