.FishMapHeader {
  width: 100%;
  // padding: 1.4vh;
  border-radius: 0 0 2vh 2vh;
  // background: darkgoldenrod;
  box-shadow: -2px -7px 10px #f1f1f1, 4px 6px 10px #d4d7da;
  display: flex;
  // flex-shrink: 0;
  flex-direction: column;
  height: 8vh;
  // justify-content: space-between;
  // gap: 1vh;

  &.expand {
    // height: 13.5vh;
    height: 14vh;
  }

  .wrapper {
    border: 1px solid gray;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 1.4vh;
    // height: 100%;
    height: 5.2vh;
    // height: calc(20px);/
    // flex-shrink: 0;

    &.expand {
      // height: calc(59% - 10px);
      // height: 75%;
    }

    .chmode {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      outline: 0;
      border: none;
      // border-right: 1px solid gray;
      cursor: pointer;
      will-change: box-shadow, transform;
      background: radial-gradient(
        100% 100% at 100% 0%,
        #70dbf0 0%,
        #abc1f7 100%
      );
      // box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%),
      //   0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%),
      //   inset 0px -0.01em 0px rgb(58 65 111 / 50%);
      padding: 0 2.5vh;
      border-radius: 10px 0 0 10px;
      color: #fff;
      height: 5vh;
      width: 6vh;
      text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
      transition: box-shadow 0.15s ease, transform 0.15s ease;

      &:active {
        box-shadow: inset 0px 0.1em 0.6em #3c4ae0;
        transform: translateY(0em);
      }
    }

    .mode {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6vh;
    }

    form {
      flex: 1;
      height: 100%;
    }

    input {
      border: none;
      height: 100%;
      width: 100%;
      padding: 0 1.5vh;
      font-size: 2vh;
      outline: none;
    }

    .search {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6vh;
    }
  }

  .hashTags {
    margin: 0 1.4vh 1.4vh;
    // animation: slideDown 1s;
    // align-items: center;
    gap: 1vh;
    display: flex;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    .input-container {
      flex-shrink: 0;

      .radio-button {
        display: none;
        cursor: pointer;

        &:checked {
          + .radio-tile {
            background-color: lightblue;
          }

          + .radio-tile .radio-tile-label {
            color: white;
          }
        }
      }

      .radio-tile {
        display: flex;
        // align-items: center;
        // justify-content: center;
        border: 2px solid lightblue;
        border-radius: 2.5vh;
        // padding: 10px;
        padding: 1vh;

        .radio-tile-label {
          // font-size: 10px;
          font-size: 1.5vh;
          font-weight: bold;
          color: lightblue;
        }
      }
    }
  }
}
