.FishMapFooter {
  height: 6vh;
  margin: 0 2vh;
  transition: height 0.5s;
  position: relative;
  display: flex;
  flex-direction: column;

  &.expand {
    height: 82vh;
    margin-top: 2vh;
  }

  .filter {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    font-size: 2vh;
    font-weight: bold;

    svg {
      color: gray;
    }
  }

  .noneData {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    gap: 2vh;

    svg {
      height: 15vh;
      width: 15vh;
      color: darkgray;
    }
  }

  .item {
    padding: 3vh 0;
    border-bottom: 1px solid black;
  }

  .mode {
    position: absolute;
    bottom: 0;
    height: 6vh;
    display: flex;
    align-items: center;
    gap: 1vh;

    svg {
      height: 2.5vh;
      width: 2.5vh;
    }
  }

  .filterOpen {
    position: fixed;
    inset: 0;
    background: rgba($color: black, $alpha: 0.3);
    z-index: 1;
  }

  .filter-content {
    z-index: 2;
    position: absolute;
    padding: 1.5vh;
    width: 40vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 2vh;

    h2 {
      padding: 2vh;
      font-size: 3vh;
    }

    > .filter-b {
      border-bottom: 1px solid gray;
    }

    > div {
      padding: 2vh;

      button {
        background: transparent;
        border: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 2vh;

        &.pick {
          color: red;
          font-weight: bold;
          display: flex;
          align-items: center;
        }

        &.cancel {
          display: flex;
          justify-content: end;
        }
      }
    }
  }
}
