.FishMapDetailPage {
  // margin: 0 2vh;

  // .header {
  //   height: 8vh;
  //   display: flex;
  //   align-items: center;
  //   // padding: 0 3vh;
  //   margin: 0 2vh;

  //   img {
  //     height: 20%;
  //   }
  // }

  .body {
    // margin: 0 2vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;

    .fishing-info {
      display: flex;
      flex-direction: column;
      gap: 1vh;
      margin: 0 2vh;

      .fishing-name {
        display: flex;
        align-items: end;

        h2 {
          font-size: 3vh;
        }
      }

      div:last-child {
        color: gray;
        font-size: 1.9vh;
      }
    }

    .fish-species {
      display: flex;
      flex-direction: column;
      gap: 1vh;

      .name {
        margin: 0 2vh;
        font-size: 2.7vh;
      }

      .wrapper {
        overflow: auto;
        display: flex;
        gap: 20px;
        padding: 0 2vh;

        &::-webkit-scrollbar {
          display: none;
        }

        > div {
          display: flex;
          flex-direction: column;
          align-items: center;

          img {
            width: 9vh;
            height: 9vh;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
          }

          div {
            font-size: 1.8vh;
            font-weight: bold;
          }
        }
      }
    }

    .fishing-reviews {
      margin: 0 2vh;
      display: flex;
      flex-direction: column;
      gap: 1vh;

      .name {
        font-size: 2.7vh;
      }

      .wrapper {
      }

      .none-data {
        display: flex;
        height: 15vh;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
