.MapDetailWeather {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  // gap: 0.5rem;
  // margin: 0 2vh;
  // margin: 0 1em;
  margin: 0 4vw;

  .todays-date {
    font-size: 2.7vh;
    // font-size: 1.2rem;
    font-weight: bold;
  }

  .sun-rs {
    color: gray;
    font-size: 2.2vh;
    // font-size: 0.9rem;
    display: flex;
    gap: 1vh;
  }

  .weather-data {
    display: flex;
    overflow: auto;
    padding: 2vh;
    // padding: 1rem;
    gap: 2.5vh;
    // gap: 1.2rem;
    border: 1px solid darkgray;
    border-radius: 1em;

    &::-webkit-scrollbar {
      display: none;
    }

    .weather-total {
      display: flex;
      flex-direction: column;
      align-items: center;

      .weather-time {
        font-size: 1.5vh;
        // font-size: 0.7rem;
        color: gray;
      }

      .weather-icon {
        height: 7vh;
        // height: 3.1rem;
      }
    }
  }
}
