.Home_header {
  display: flex;
  width: 100%;
  // padding: 0.5em 1em;
  padding: 1vh 4vw;
  // height: 4em;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  // background: tra;
  // box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);

  a {
    display: flex;
    align-items: center;
  }

  img {
    height: 6vh;
  }

  svg {
    height: 4vh;
    width: 4vh;
  }
}
