.mypage-edit {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4vh;
  height: 90vh;

  .complete {
    position: absolute;
    top: 2vh;
    right: 2.3vh;
    font-weight: bold;
    font-size: 2.5vh;
  }

  .profile {
    display: flex;
    justify-content: center;

    .profile-img {
      width: 20vh;
      height: 20vh;
      border-radius: 50%;
    }
  }

  .user-info {
    margin: 0 2vh;

    .info-title {
      font-size: 3vh;
      font-weight: bold;
    }

    .info-nick {
      width: 100%;
      height: 7vh;
      border: 3px solid #6ae3e3;
      border-radius: 2vh;
      margin-top: 1vh;
    }
  }

  .user-change {
    position: absolute;
    bottom: 15vh;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 3vh;

    button {
      background: transparent;
      border: none;
      font-size: 2.5vh;
    }
  }
}
