.Navbar_body {
  padding-bottom: 10vh;
}

nav {
  position: fixed;
  // height: 70px;
  height: 10vh;
  width: 100%;
  bottom: 0;
  background: white;
  // border-radius: 1.5rem 1.5rem 0 0;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  // padding: 0 3vh;
  display: flex;
  align-items: start;
  justify-content: space-around;

  .nav-item {
    color: gray;
    display: flex;
    padding-top: 1.5vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    width: 10vh;

    &.btn {
      position: absolute;
      top: -1vh;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.hidden {
      opacity: 0;
    }

    svg {
      font-size: 3.5vh;
    }

    span,
    .login-btn {
      text-transform: uppercase;
      // font-size: 0.8rem;
      font-size: 1.4vh;
    }

    .custum-file-upload {
      margin-top: 3vh;
      // width: 70px;
      width: 9.5vh;
      height: 9.5vh;
      color: #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      input {
        display: none;
      }
    }
  }
}
