.container {
  // min-height: 100vh;
  // position: relative;
}

.Navbar_body {
  padding-bottom: 9vh;
}

nav {
  position: fixed;
  // height: 5em;
  height: 9vh;
  width: 100%;
  bottom: 0;
  background: white;
  // border: 1px solid red;
  border-radius: 2vh 2vh 0 0;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  // padding: 0 3vh;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .nav-item {
    color: gray;
    display: flex;
    // padding-top: 1.5vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    width: 20vw;

    &.btn {
      position: absolute;
      top: -3vh;
      left: 50%;
      transform: translate(-50%);
    }

    &.hidden {
      opacity: 0;
    }

    svg {
      font-size: 3.5vh;
    }

    span,
    .login-btn {
      font-size: 1.3vh;
    }

    .custum-file-upload {
      width: 9vh;
      height: 9vh;
      color: #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      input {
        display: none;
      }

      svg {
        width: 6vh;
        height: 6vh;
      }
    }
  }
}
