:root {
  --color-main-100: #ebf4fd;
  --color-main-90: #ebf4fd;
  --color-main-80: #ebf4fd;
  --color-main-70: #ebf4fd;
  --color-main-60: #ebf4fd;
  --color-main-50: #ebf4fd;
  --color-main-40: #ebf4fd;
  --color-main-30: #ebf4fd;
  --color-main-20: #ebf4fd;
  --color-main-10: #ebf4fd;

  --color-purle-100: rgba(189, 199, 249, 0.4);
}
