.chatbot-container {
  margin: 0 2vh;
}

.chatbot-toobar {
  height: 100%;
  overflow-y: auto;
  z-index: 10;
}

.chatbot-sticky {
  position: sticky;
  top: -0.2vh;
  background-color: white;
  z-index: 2;
}

.chatbot-fishking {
  width: 20%;
}

.chatbot-header {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 150%;
  margin: 0 2vh;

  img {
    border-radius: 100%;
    border: 2px solid transparent;
    background-image: linear-gradient(#fff, #fff), 
    linear-gradient(to right, red 0%,  orange 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    width: 6vh;
    height: inherit;
  }

  span {
    padding-left: 1vh;
  }
}

.chatbot-recommend-div {
  width: 80%;
  border: 3px solid #b3f3f3;
  border-radius: 0 30px 30px 30px;
  padding: 0 1vh;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(138, 138, 138, 0.1);
}

.recomend-title {
  font-size: 120%;
  font-weight: bold;
  padding: 1vh;

  span {
    background-color: #b3f3f3;
  }
}

.recommend-ment {
  font-size: 80%;
  color: rgb(101, 101, 101);
}

.chatbot-recommend {
  text-align: center;
  justify-content: center;
  margin: 1vh;
  display: flex;
  border: 1px solid gray;
  border-radius: 5px;
  
  &:active {
    background-color: #b3f3f3;
  }
}

.chatbot-startChat {
  border: 3px solid #b3f3f3;
  border-radius: 0 30px 30px 30px;
  height: 30%;
  padding: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(138, 138, 138, 0.1);

  p:nth-child(4) {
    font-size: 80%;
    color: rgb(101, 101, 101);
  }
}

.chatbot-body {
  padding: 2vh;
  background: white;
  min-height: 80vh;
  padding-bottom: 20%;
}

.chatbot-img {
  padding: 0.2vh;

  img {
    width: 40px;
    display: flex;
    border-radius: 100%;
  }
}

.chatbot-chat-container {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 1vh 0;
}
