.message {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.message.user {
  align-self: flex-end;
  background-color: #cce5ff;
}

.message.bot {
  align-self: flex-start;
  background-color: #d4edda;
}


.message-box {
  padding-bottom: 20%;
}