* {
  /* padding: 0; */
  /* margin: 0; */
  /* text-decoration: none; */
  /* list-style: none; */
  /* box-sizing: border-box; */
}

nav {
  background-color: black;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label.logo {
  // line-height: 80px;
  padding: 0 40px;
  font-weight: bold;
}

label.logo > a {
  font-size: 30px;
}

.logo a {
  color: white;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

nav ul {
  // float: right;
  margin: 0 20px;
  display: flex;
  gap: 10px;
}

nav ul li {
  // display: inline-block;
  // line-height: 80px;
  // margin: 0 5px;
}

nav ul li a,
.logout-btn {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  // border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

.logout-btn {
  display: inline;
  cursor: pointer;
}

nav ul li a.active,
nav ul li a:hover,
.logout-btn:hover {
  // background: #1b9bff;
  color: darkgray;
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  // float: right;
  // line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 758px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: rgba($color: black, $alpha: 0.8);
    top: 80px;
    left: 100%;
    // text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 20px 0;
    padding-left: 30px;
    line-height: 30px;
  }

  nav ul li a,
  .logout-btn {
    font-size: 40px;
    font-weight: bold;
  }

  nav ul li a:hover,
  nav ul li a.active,
  .logout-btn:hover {
    // background: none;
    // color: #0082e6;
    color: darkgray;
  }
  #check:checked ~ ul {
    left: 0;
    margin: 0;
    padding: 0;
  }
}
