.fish-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 30%;
  gap: 3px;

  .fish-info-important {
    position: absolute;
    display: flex;
    top: 55px;
    right: 50px;
    gap: 50px;
  }

  .fish-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1px;
  }

  .fish-item.view-two {
    position: relative;
    width: 160px;
    height: 220px;
    margin-bottom: 40px;
    border-radius: 10px;
  }

  .fish-profile {
    overflow: hidden;
    position: absolute;
    top: -30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;

    img {
      margin-left: 20px;
      width: 200px;
      height: 50px;
    }

    &.SEA {
      background-image: url("../../images/seaprofile.webp");
    }
    &.FRESH_WATER {
      background-image: url("../../images/freshprofile.webp");
    }
  }

  .fish-profile-type {
    padding-top: 80px;
    font-size: 16px;
    text-align: center;
  }

  .fish-profile-name {
    color: black;
    text-align: center;
  }

  .fish-profile-size {
    font-size: 20px;
  }

  .fish-date {
    z-index: 10;
    display: flex;
    color: red;

    .bandate ~ div {
      display: none;
    }

    img {
      width: 30px;
      height: 30px;
    }
  }

  .bansize {
    color: #9bec9b;
  }

  .fish-detail-btn {
    padding: 3px 5px;
    margin-bottom: 10px;
    width: fit-content;
    color: white;
    font-weight: 500;
    border-radius: 5px;
  }
}
