.fish-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 15%;
  gap: 5px;

  .fish-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
  }

  .fish-item.view-two {
    position: relative;
    width: 150px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .fish-profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(195, 215, 215);
  }

  .fish-profile-type {
    font-size: 16px;
    text-align: center;
  }

  .fish-profile-name {
    text-align: center;
  }

  .fish-profile-size {
    font-size: 20px;
  }

  .fish-date {
    z-index: 10;
    display: flex;
    color: red;

    .bandate ~ div {
      display: none;
    }

    img {
      width: 30px;
      height: 30px;
    }
  }

  .fish-detail-btn {
    padding: 2px 5px;
    width: fit-content;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
  }
}
