.fishbook-header {
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 23vh;
}

.fishbook-title {
  position: absolute;
  top: 2px;
  right: 10px;
  font-family: "newsreader";
  font-style: italic;
  font-size: 35px;
  color: white;
}

.fishbook-category {
  z-index: 2;
  position: absolute;
  top: 17vh;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 10px;

  .fishbook-category-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      &:first-child {
        font-size: 20px;
      }
    }
  }
}

.fishbook-list {
  position: absolute;
  top: 23vh;
  background: #ffffff;
}
