.result {
  display: flex;
  flex-direction: column;

  .result-body {
    display: flex;
    flex-direction: column;
    gap: 5vh;

    .result-img {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 30vh;
      background: transparent;
      position: relative;

      .ml-result {
        width: 80%;
        height: 100%;
        object-fit: contain;
      }
    }

    .result-content {
      display: flex;
      flex-direction: column;
      gap: 5vh;

      .result-fish {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #a3b9f6;
        gap: 1vh;
        padding: 2vh;
        margin: 0 2vh;
        border-radius: 2vh;
        font-weight: bold;
        color: white;

        .result-name {
          font-size: 4vh;
        }

        .result-detail {
          font-size: 1.8vh;
        }
      }

      .fish-reviews {
        margin: 0 2vh;
        display: flex;
        flex-direction: column;
        gap: 1vh;

        .reviews-title {
          font-size: 2.3vh;
        }

        .none-data {
          display: flex;
          height: 15vh;
          justify-content: center;
          align-items: center;
        }
      }

      // .result-detail {
      //   text-align: center;
      //   border: 3px solid lightblue;
      //   background: transparent;
      //   padding: 20px;
      //   width: 80%;
      //   height: 1000px;
      //   // margin: 30px;
      //   border-radius: 10px;
      //   font-size: 30px;
      //   font-weight: bold;
      //   color: lightblue;
      // }
    }
  }
}
